html{
background-color:grey;
}
body{
    width:999px;
    margin:auto;
    background-color:aqua;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:slateblue;
}
section{
    width:500px;
}
.floatLeft{
    float:left;
    width:333px;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
}
nav{
    height:fit-content
}
nav ul li{
    width:50%;
    border:1px solid black;
    list-style-type: none;
    text-align:center;
}
nav ul li:hover{
    background-color:bisque;
    color:blue;
}
main{
    height:100vh;
}
p{
    text-align: center;
}
.floatRight{
    float:right;
    width:333px;
}